<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Ductos Girados Por Linea</h2>
            <div style="text-align:center">
                <div id="chart">
                    <apx-chart
                      [series]="chartOptions.series!"
                      [chart]="chartOptions.chart!"
                      [labels]="chartOptions.labels!"
                      [responsive]="chartOptions.responsive!"
                    ></apx-chart>
                  </div>
              </div>
        </div>
        <div class="col-6">
            <h2>Ductos Girados Por Zona</h2>
            <div style="text-align:center">
                <div id="chart">
                    <apx-chart
                      [series]="chartOptions.series!"
                      [chart]="chartOptions.chart!"
                      [labels]="chartOptions.labels!"
                      [responsive]="chartOptions.responsive!"
                    ></apx-chart>
                  </div>
              </div>
        </div>
    </div>
    
</div>